.box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.content {
    display: flex;
    overflow-y: scroll;
    flex-direction: column;
    justify-content: center;
    /*align-items: flex-start;*/
    border: 1px solid white;
    padding: 10px;
    margin: 30px;
    height: 400px;
    min-width: 800px;
}
.container {
    width: 1240px;
    margin: 0 auto;
    min-height: 100vh;
}